MONGODB_URI=""

CLOUDINARY_API_KEY = "" 
CLOUDINARY_SECRET_KEY = "" 
CLOUDINARY_NAME = ""
JWT_SECRET = ""
ADMIN_EMAIL = ""
ADMIN_PASSWORD = ""
STRIPE_SECRET_KEY = ""
RAZORPAY_KEY_SECRET = ''
RAZORPAY_KEY_ID = ''

# OTP Configuration
EMAIL_SERVICE=""  # Can be 'gmail', 'sendgrid', or other services
EMAIL_USER=""  # Sender email for OTPs
EMAIL_PASS=""  # App password (if using Gmail, generate an App Password)
OTP_EXPIRATION=5  # OTP expiry time in minutes
  

